table {
    table-layout: fixed;
}

td input {
    width: 100%;
}

.btn-remove {
    position: relative;
    float: right;
    top: 10px;
}

.image {
    width: 100%;
}

.title {
    background-color: #f2ab39 !important;
}

.caculate {
    background-color: yellow !important;
}