<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">財務報表</h1>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <button mat-button mat-raised-button color="primary" [ngClass]="{'hidden': tab !== 0}" (click)='goBack()'>回列表頁</button>
                <button mat-button mat-raised-button color="primary" [ngClass]="{'hidden': tab !== 1}" (click)='tab=0'>返回</button>
                <button mat-button mat-raised-button color="primary" [ngClass]="{'hidden': data.statusId==2||data.statusId==1||!isCreator}" (click)='save(0)'>暫存</button>
                <button mat-button mat-raised-button color="primary" [ngClass]="{'hidden': data.statusId==2||data.statusId==1||!isCreator}" (click)='save(1)'>完成</button>
                <button mat-button mat-raised-button color="primary" [ngClass]="{'hidden': tab !== 0||data.id==0||!isCreator||data.statusId==0||data.statusId==2}" (click)='save(2)'>作廢</button>
                <button mat-button mat-raised-button color="primary" [ngClass]="{'hidden': tab !== 0}" (click)='exportexcel()'>匯出</button>
                <button mat-button mat-raised-button color="primary" [ngClass]="{'hidden': tab !== 0}" (click)='tab=1'>上傳</button>
            </div>
        </div>
        <br>
        <!-- Editable table -->
        <div class="card" [ngClass]="{'hidden': tab !== 0}">
            <div class="row">
                <div class="col-sm-3">
                    <mat-form-field>
                        <mat-select (selectionChange)="permissionChange()" placeholder="社區" [(ngModel)]="data.permission">
                            <mat-option *ngFor="let option of permissionOptions" [value]="option.value">
                                {{option.text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field>
                        <mat-select placeholder="年月" [(ngModel)]="data.yearMonth">
                            <mat-option *ngFor="let option of yearMonthOptions" [value]="option.value">
                                {{option.text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="card-body">
                <div id="table" class="table-editable">
                    <table class="table table-bordered table-responsive-md table-striped text-center" [ngClass]="{'hidden':data.statusId==1||!isCreator}">
                        <tr>
                            <th colspan="12" class="text-center" style="font-size: 24px;">
                                {{permissionName}}{{data.yearMonth}}收支表</th>
                        </tr>
                        <tr>
                            <th colspan="1" class="text-center">日期</th>
                            <th colspan="2" class="text-center">項目</th>
                            <th colspan="2" class="text-center">收入</th>

                            <th colspan="1" class="text-center">日期</th>
                            <th colspan="2" class="text-center">項目</th>
                            <th colspan="2" class="text-center">支出</th>

                            <th colspan="2" class="text-center">活存餘額</th>
                        </tr>
                        <tr>
                            <td colspan="1" class="text-center"></td>
                            <td colspan="9" class="text-center">上月存款簿活存餘額</td>
                            <td colspan="2" class="text-center">
                                <input type="number" (change)="calculate()" [(ngModel)]="data.lastMonthBalance">
                            </td>
                        </tr>
                        <ng-container *ngFor="let block of data.blocks;let i=index;let even = even">
                            <ng-container *ngIf="even">
                                <tr class="title">
                                    <td colspan="1">
                                    </td>
                                    <td colspan="2">
                                        {{data.blocks[i].blockName}}
                                    </td>
                                    <td colspan="2">
                                    </td>
                                    <td colspan="1">
                                    </td>
                                    <td colspan="2">
                                        {{data.blocks[i+1].blockName}}
                                    </td>
                                    <td colspan="2">
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                                <tr *ngFor="let index of indexList;">
                                    <td colspan="1">
                                        <mat-form-field style="width: 80%;">
                                            <input matInput [matDatepicker]="picker1" [max]="maxDate" [(ngModel)]="data.blocks[i].rows[index].date" readonly>
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                    </td>
                                    <td colspan="2">
                                        <input [(ngModel)]="data.blocks[i].rows[index].name">
                                    </td>
                                    <td colspan="2">
                                        <input type="number" (change)="calculate()" [(ngModel)]="data.blocks[i].rows[index].value">
                                    </td>
                                    <td colspan="1">
                                        <mat-form-field style="width: 80%;">
                                            <input matInput [matDatepicker]="picker2" [max]="maxDate" [(ngModel)]="data.blocks[i+1].rows[index].date" readonly>
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>
                                    </td>
                                    <td colspan="2">
                                        <input [(ngModel)]="data.blocks[i+1].rows[index].name">
                                    </td>
                                    <td colspan="2">
                                        <input type="number" (change)="calculate()" [(ngModel)]="data.blocks[i+1].rows[index].value">
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                                <tr class="caculate">
                                    <td colspan="1"></td>
                                    <td colspan="2">
                                        {{data.blocks[i].totalName}}
                                    </td>
                                    <td colspan="2">
                                        {{data.blocks[i].total}}
                                    </td>
                                    <td colspan="1"></td>
                                    <td colspan="2">
                                        {{data.blocks[i+1].totalName}}
                                    </td>
                                    <td colspan="2">
                                        {{data.blocks[i+1].total}}
                                    </td>
                                    <td colspan="2" *ngIf="i==4">{{data.blocks[i].total-data.blocks[i+1].total}}</td>
                                    <td colspan="2" *ngIf="i!=4"></td>

                                </tr>
                            </ng-container>
                        </ng-container>
                        <tr class="title">
                            <td colspan="1"></td>
                            <td colspan="2">
                                收入合計
                            </td>
                            <td colspan="2">
                                {{income}}
                            </td>
                            <td colspan="1"></td>
                            <td colspan="2">
                                銀行支出合計
                            </td>
                            <td colspan="2">
                                {{expenses}}
                            </td>
                            <td colspan="2">{{income-expenses}}</td>
                        </tr>
                        <tr>
                            <td colspan="10">本月份活存結餘</td>
                            <td colspan="2">{{data.thisMonthBalance}}</td>
                        </tr>
                        <tr *ngFor="let row of data.bankSaving;">
                            <td colspan="10">
                                <input placeholder="銀行定期存款" type="text" style="text-align: center;" [(ngModel)]="row.name">
                            </td>
                            <td colspan="2">
                                <input type="number" (change)="calculate()" [(ngModel)]="row.value">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10">社區總餘額</td>
                            <td colspan="2">{{total}}</td>
                        </tr>
                    </table>
                    <!-- Excel匯出完成用 -->
                    <table id="excel-table" class="table table-bordered table-responsive-md table-striped text-center" [ngClass]="{'hidden':data.statusId!=1&&isCreator}">
                        <tr>
                            <th colspan="12" class="text-center" style="font-size: 24px;">
                                {{permissionName}}{{data.yearMonth}}收支表</th>
                        </tr>
                        <tr>
                            <th colspan="1" class="text-center">日期</th>
                            <th colspan="2" class="text-center">項目</th>
                            <th colspan="2" class="text-center">收入</th>

                            <th colspan="1" class="text-center">日期</th>
                            <th colspan="2" class="text-center">項目</th>
                            <th colspan="2" class="text-center">支出</th>

                            <th colspan="2" class="text-center">活存餘額</th>
                        </tr>
                        <tr>
                            <td colspan="1" class="text-center"></td>
                            <td colspan="9" class="text-center">上月存款簿活存餘額</td>
                            <td colspan="2" class="text-center">
                                {{data.lastMonthBalance}}
                            </td>
                        </tr>
                        <ng-container *ngFor="let block of data.blocks;let i=index;let even = even">
                            <ng-container *ngIf="even">
                                <tr class="title">
                                    <td colspan="1">
                                    </td>
                                    <td colspan="2">
                                        {{data.blocks[i].blockName}}
                                    </td>
                                    <td colspan="2">
                                    </td>
                                    <td colspan="1">
                                    </td>
                                    <td colspan="2">
                                        {{data.blocks[i+1].blockName}}
                                    </td>
                                    <td colspan="2">
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                                <tr *ngFor="let index of indexList;">
                                    <td colspan="1">
                                        {{data.blocks[i].rows[index].date | date:'MM/dd'}}
                                    </td>
                                    <td colspan="2">
                                        {{data.blocks[i].rows[index].name}}
                                    </td>
                                    <td colspan="2">
                                        {{data.blocks[i].rows[index].value}}
                                    </td>
                                    <td colspan="1">
                                        {{data.blocks[i+1].rows[index].date | date:'MM/dd'}}
                                    </td>
                                    <td colspan="2">
                                        {{data.blocks[i+1].rows[index].name}}
                                    </td>
                                    <td colspan="2">
                                        {{data.blocks[i+1].rows[index].value}}
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                                <tr class="caculate">
                                    <td colspan="1"></td>
                                    <td colspan="2">
                                        {{data.blocks[i].totalName}}
                                    </td>
                                    <td colspan="2">
                                        {{data.blocks[i].total}}
                                    </td>
                                    <td colspan="1"></td>

                                    <td colspan="2">
                                        {{data.blocks[i+1].totalName}}
                                    </td>
                                    <td colspan="2">
                                        {{data.blocks[i+1].total}}
                                    </td>
                                    <td colspan="2" *ngIf="i==4">{{data.blocks[i].total-data.blocks[i+1].total}}</td>
                                    <td colspan="2" *ngIf="i!=4"></td>
                                </tr>
                            </ng-container>
                        </ng-container>
                        <tr class="title">
                            <td colspan="1"></td>

                            <td colspan="2">
                                收入合計
                            </td>
                            <td colspan="2">
                                {{income}}
                            </td>
                            <td colspan="1"></td>

                            <td colspan="2">
                                銀行支出合計
                            </td>
                            <td colspan="2">
                                {{expenses}}
                            </td>
                            <td colspan="2">{{income - expenses}}</td>
                        </tr>
                        <tr>
                            <td colspan="10">本月份活存結餘</td>
                            <td colspan="2">{{data.thisMonthBalance}}</td>
                        </tr>
                        <tr *ngFor="let row of data.bankSaving;">
                            <td colspan="10">
                                {{row.name}}
                            </td>
                            <td colspan="2">
                                {{row.value}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10">社區總餘額</td>
                            <td colspan="2">{{total}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- Image -->
        <div class="container" [ngClass]="{'hidden': tab !== 1}">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h3>Choose File</h3>
                    <div class="form-group">
                        <input type="file" (change)="upLoadPicture($event)" name="image" />
                    </div>
                </div>
                <div class="col-md-6 offset-md-3">
                    <div *ngFor="let image of data.files">
                        <button class="btn-remove" (click)="removeFile(image.id)">X</button>
                        <img class="image" [src]="image.path" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>